<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React SSR</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="main"><%- renderedReactApp %></div>
  <script src="bundle.js"></script>
</body>
</html>